html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer reset ends here */

:root{
    --color-blue:#60a5fa;
}

@font-face {
    font-family: Norse;
    src: url(../fonts/Norse-Bold.otf);
}

/* custom stuff ends here */
body{
    height: 100vh;
    width: 100vw;
}

.outer-most-grid-container{
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template: 2fr 8fr / 2fr 9fr;
}

.sidebar{
    padding: 20px;
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: var(--color-blue);
}

.sidebar > ul{
    display: grid;
    grid-template-rows: repeat(15, 2fr);
    grid-template-columns: 2fr 8fr;
    gap: 20px;
    justify-items: start;
    align-items: center;
}

.sidebar > ul > li{
    font-family: 'Norse';
    color: white;
    
}
/* This could have been a lot more efficient if i used a container check someone elses code at end */
.DashBoard{
    grid-row: 2/5;
    font-size: 40px;
    max-height: 50px;
}

.Privacy{
    grid-row: 14/15;
}

.Support{
    grid-row: 13/14;
}

.Settings{
    grid-row: 12/13;
}

.Communities{
    grid-row: 10/11;
}

.Tasks{
    grid-row: 9/10;
}

.History{
    grid-row: 8/9;
}

.Messages{
    grid-row: 7/8;
}

.Profile{
    grid-row: 6/7;
}

.Home{
    grid-row: 5/6;
}

/* Manual grid there should be a faster way to do this */


.sidebar > ul img{
    max-height: 20px;
    justify-self: end;
}

/* SideBar Ends here */

/* Profile and Search Starts Here Grid Row 1 column 2 onwards */
.profileUpperContainer img{
    max-height: 50px;
}

.profile-info{
    display: grid;
}

.profileUpperContainer{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(8,1fr);
    place-items: center;
    background: grey;
    color: white;
    font-family: Norse,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
}

.profileUpperContainer h2{
    grid-column: 8/9;
}

.profileUpperContainer img:last-of-type {
    grid-column: 7/8;
}

.profileUpperContainer img:nth-child(3){
    grid-column: 6/7;
}

.profileUpperContainer input{
    grid-column: 2/6;
    width: 90%;
}

/* End of Profile Upper Container Half */

.profileLowerContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: lightgray;
    padding: 20px;
}

.profileLowerContainer button{
    border-radius: 50px;
    background-color: var(--color-blue);
    margin: 7px;
    font-family: Norse,'Times New Roman', Times, serif;
    font-size:  calc(.7vw + .7vh);
    width: 7vw;
    height: 7vh;
}

.profileLowerContainer button:last-child{
    grid-column: 6/7;
}
.profileLowerContainer button:nth-child(4){
    grid-column: 5/6;
}
.profileLowerContainer button:nth-child(3){
    grid-column: 4/5;
}

.subcontainer h2{
    font-family: Norse,'Times New Roman', Times, serif;
    font-size: 2vw;
}

.profileLowerContainer img:first-child{
    max-height: 90px;
    align-self: center;
    justify-self: center;
}

/* Profile bar ends here */

.container-three{
    display: grid;
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
    background-color: silver;
    font-family: Norse,'Courier New', Courier, monospace;
}

.container-three > div:first-child{
    grid-area: 1/1/3/2;
}

.Announcements{
    text-align: center;
    margin-bottom: 5px;
    font-family: Norse,'Courier New', Courier, monospace;
}

.cardAnnouncement{
    display: grid;
    font-family: Norse,'Courier New', Courier, monospace;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cardAnnouncement > article{
    border-bottom: 1px solid grey;
    padding: 10px 0px;
}

.cardAnnouncement > article > p{
    font-size: small;
}
/* Trending Css Starts from here */

.meow-chat{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-family: Norse,'Courier New', Courier, monospace;
    
}

.meow-chat img{
    grid-row: 1/3;
    max-height: 70px;
}

.trending-container{
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
}

.container-three > div:last-child{
    font-family: Norse,'Times New Roman', Times, serif;
    text-align: center;
}

/* Trending Css ends here */

.cards{
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    border-left: 9px solid var(--color-blue);

}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    justify-items: center;
}

.image-container img{
    max-height: 30px;
}

.image-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}

.article-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-three > div > h1{
    margin-left: 25px;
}